
.container {
  width: auto;
  height: auto;
  min-height: 100vh;
  margin: auto;
  padding: 50px;
  background: url("assets/metal.jpg");
  font-family: 'Caveat Brush', cursive;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  padding: 5px 15px;
  width: 300px;
  height: 40px;
  border-radius: 6px;
  outline: none;
  border: 1px solid rgba(255,255,255, 0.3);
  box-shadow: 0 0 12px rgba(255,255,255, 0.1);
  font-family: 'Caveat Brush', cursive;
  color: white;
  background: transparent;
}

.input:focus, .input:active {
  border: 1px solid rgba(255,255,255, 0.5);
  box-shadow: 0 0 8px rgba(255,255,255, 0.3);
}

.picasso-logo {
  width: 90px;
  height: 80px;
  margin-left: 10px;
  background-image: url("assets/picasso.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(1);
}

.color-list {
  width: 100%;
  margin-top: 30px;
  overflow-y: auto;
}

.colors, .no-results {
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,0.1);
  border: 1px solid white;
  border-radius: 6px;
}

.color-id {
  color: white;
  margin-right: 20px;
}

.color-name-header {
  width: 100px;
  color: white;
  text-align: left;
  font-weight: 200;
}

.color-name {
  text-transform: uppercase;
  width: 100px;
}

.color-year {
  margin-left: auto;
  color: white;
}

.no-results {
  color: white;
}

.modal-button {
  font-family: 'Caveat Brush', cursive;
  color: rgba(0,0,0,0.6);
  margin-left: 20px;
  border: 1px solid rgba(255,255,255,0.4);
  box-shadow: 0 0 4px rgba(255,255,255,0.2) ;
  border-radius: 6px;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-button {
  background: rgba(255,255,255,0.1);;
  width: 120px;
  height: 36px;
  margin: 6px;
  padding: 0 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Caveat Brush', cursive;
  color: white;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 6px;
}

.page-number {
  width: 40px !important;
}

.previous-icon, .next-icon {
  width: 20px;
  height: 20px;
  margin: 10px;
  opacity: 0.5;
  filter: invert(1);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px;
}

.previous-icon {
  background-image: url("assets/caret-left-solid.svg");
}

.next-icon {
  background-image: url("assets/caret-right-solid.svg");
}
